.switch {
  position: relative;
  height: 32px;
  width: 205px;
  margin: 20px auto;
  background: #E1E5E6;
  border-radius: 999px;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 100px;
  line-height: 32px;
  font-size: 14px;
  color: #7f8181;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}


.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  transition: 0.15s ease-out;
  transition-property: color, text-shadow;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 50%;
}

.switch-selection {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 100px;
  height: 32px;
  border-radius: 999px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(55, 88, 123, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.06);
  transition: left 0.15s ease-out;
}