.App {
  width: 1024px;
  margin: 0 auto;
}

.App-header {
  display: flex;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.assembly-process-container {
  margin-bottom: 12px;
}
